<a href="https://colab.research.google.com/github/ishwaribangale/Contact_management/blob/main/Copy_of_Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import io
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
transactions = ['ID':[1,2,3,4,5]
                'ITEMS:'[BREAD,MILK,ITEM,BEER,COKE,BEER,MILK]]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_array=te.fit(transactions).transform(transactions)
df=pd.DataFrame(te_array, columns=te.columns_)
df

   apple  bread   eggs   milk
0  False   True   True   True
1   True  False   True  False
2  False   True  False   True
3   True  False  False   True
4   True   True  False   True

In [ ]:
freq_items = apriori(df, min_support = 0.5, use_colnames = True)
print(freq_items)

   support       itemsets
0      0.6        (apple)
1      0.6        (bread)
2      0.8         (milk)
3      0.6  (bread, milk)

In [ ]:
rules = association_rules(freq_items, metric ='support', min_threshold=0.05)
rules = rules.sort_values(['support', 'confidence'], ascending =[False,False])
print(rules)

NameError: ignored

In [ ]:
from google.colab import files
data = files.upload()

In [ ]:
df = pd.read_csv(io.BytesIO(data['Market_Basket_Optimisation.csv']))

In [ ]:
transactions = []
for i in range(0, len(df)):
  transactions.append([str(df.values[i,j]) for j in range(0, len(df.columns))])

In [ ]:
te=TransactionEncoder()
te_array=te.fit(transactions).transform(transactions)
df=pd.DataFrame(te_array, columns=te.columns_)
df

In [ ]:
freq_items = apriori(df, min_support = 0.5, use_colnames = True)
print(freq_items)

In [ ]:
rules = association_rules(freq_items, metric ='support', min_threshold=0.05)
rules = rules.sort_values(['support', 'confidence'], ascending =[False,False])
print(rules)